<!-- By Ruth Perjuste, Sophie Lin, Ashley Yang --> 
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>

<body>

  <div class="form_search">
  

  <form method="GET" action="{{ url_for('query') }}" id="inline_form">

    <img src="{{ url_for('static', filename='free_movie_icon.png') }}">

    <label for="input_box">Search:</label><br>

    <input id="input_box" type="text" name="query" required>
    <select id="drop_options" name="kind" required>
      <option value="">choose one</option>
      <option value="movie">movie title</option>
      <option value="person">person name</option>
    </select>
    <input id="search" type="submit" value="Search">
  </form>
</div>

{% block nav %}
<nav >
  
  <a href="{{url_for('index')}}">Home</a>
  
</nav>
{% endblock %}


{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
            
{% block main_content %}
<h1>Welcome!</h1>
{% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  {% block end_scripts %}
  {% endblock %}
  
</body>
</html>
