<!-- #By Ruth Perjuste, Sophie Lin, Ashley Yang --> 
<!DOCTYPE html>
<html>
    <head>
        <title>Database People</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        
    <h1>{{ title }}</h1>
    <h2>{{title}}, released in {{release}}</h2>
    <h2>Cast:</h2>

    <article> 
        <ol>
            {% for person in cast%}
            <li> <a href= "{{ url_for('person_lookup', nm = person.nm) }}" > {{ person.name }} </a></li>
            {% endfor %}
        </ol>
    </article>
    </body>

</html>
