<!-- By Ruth Perjuste, Sophie Lin, Ashley Yang --> 
{% extends "base.html" %}

{% block main_content %} 

    <h1 class="person"> {{ name }} </h1>
    <p>{{name}}, added by {{addedby}}, was born on {{birthdate}}.<p>
    <p> Appeared in:</p>

    <div class="container_list"> 
        <ol>
            {% for movie in discography %}
            <li> <a href= "{{ url_for('movie_lookup', tt = movie.tt) }}" > {{ movie.title }} ({{ movie.release }})</a></li>
            {% endfor %}
        </ol>
    </div>

{% endblock %}
